.menubar,
.footer {
  position: fixed;
  background-color: black;
  height: 50px;
  width: 100%;
}

.footer {
  bottom: 0;
}

.big.two {
  height: calc(100vh - 110px);
  margin-top: 50px;
}

.small.two {
  height: calc(50vh - 58px);
}

.flex-container2.two {
  margin-top: 50px;
}
