.menubar,
.footer {
  position: fixed;
  background-color: #3f3f3f;
  height: 50px;
  width: 100%;
}

.menubar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.footer {
  bottom: 0;
  text-align: center;
}

.big.two {
  height: calc(100vh - 110px);
  margin-top: 50px;
}

.small.two {
  height: calc(50vh - 58px);
}

.flex-container2.two {
  margin-top: 50px;
}

a {
  display: inline-block;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  line-height: 50px;
}

a.left {
  margin-left: 5px;
}

a.right {
  margin-right: 5px;
}
