body.three {
  background-color: white;
}

.big.three {
  height: calc(100vh - 250px);
  margin-top: 120px;
  background-color: #3f3f3f;
}

.small.three {
  height: calc(50vh - 128px);
  background-color: #3f3f3f;
}

.flex-container.three {
  margin-left: 150px;
}

.flex-container2.three {
  margin-top: 120px;
}

#prev.three {
  left: 165px;
}

.extra {
  position: fixed;
  z-index: 1;
  width: 150px;
  height: 100%;
  background-color: white;
}
