body {
  background-color: #3f3f3f;
  overflow-y: hidden;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 50%;
}

.big {
  height: calc(100vh - 25px);
  padding: 5px 5px;
}

.small {
  height: calc(50vh - 16px);
  padding: 5px 0;
}

.bottom {
  margin-top: -7px;
}

.flex-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.galleryNav div {
  position: fixed;
  margin-top: 50vh;
  cursor: pointer;
  z-index: 1;
}

.galleryNav div::before,
.galleryNav div::after {
  content: "";
  position: fixed;
  background: #3f3f3f;
}

.galleryNav div::before {
  width: 5px;
  height: 20px;
}

.galleryNav div::after {
  width: 20px;
  height: 5px;
}

#prev {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 15px;
}

#next {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  right: 15px;
}
